{{#partial "contenido"}}
<!DOCTYPE html>

<head>
  <meta charset="utf-8">
  <title>Home</title>
</head>

<body>
  <p style = "font-size:24px">Analizador de inversiones</p>

  <div>
    <a href="cargar"><input class="btn btn-primary btn-lg" type="submit" value="Cargar archivo"></a>
  </div>

  <div>
    <a href="empresas"><input class="btn btn-primary btn-lg" type="submit" value="Ver empresas"></a>
  </div>

  <div>
    <a href="indicadores"><input class="btn btn-primary btn-lg" type="submit" value="Ver indicadores"></a>
  </div>

  <div>
    <a href="metodologias"/><input class="btn btn-primary btn-lg" type="submit" value="Ver metodologias"></a>
  </div>
</body>
{{/partial}}
{{>layout.hbs}}